* {
    box-sizing: border-box;
}

@mixin rm-padding-margin(){
    padding: 0;
    margin: 0;
}

body{
    @include rm-padding-margin();
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: black;
}

/******
NAVBAR
*******/

.show {
    display: flex !important;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

    & .more {
        display: none;
    }

    & .mobile {
        display: none;
        width: 100%;
        
        & .header {
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-direction: row;
            background-color: black;

            & a {
                color: white;
                text-decoration: none;
                padding: 5px;
                display: inline-flex;
            }

            & #bmenu {
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: white;
            }
        }

        & .links {
            display: none;
            flex-direction: column;
            position: relative;
            z-index: 200;
            background-color: black;

            & a {
                font-size: 20px;
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: white;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }

    & .menu {
        position: absolute;
        display: none;
        flex-direction: column;
        min-width: 200px;
        background-color: white;

        & a {
            padding: 10px;
            color: black;
            text-decoration: none;
            //transition: none ease 0.3s;


            &:hover {
                padding: 10px;
                color: white;
                background-color: black;
                text-decoration: none;
            }

        }

        
    }


    & ul {
        display: flex;
        list-style: none;

        & li > a {
            display: block;
            position: relative;
            padding: 20px 15px 10px 15px;
            text-decoration: none;
            color: white;
        }

        & li .link::before {
            content: ' ';
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        & li .link:hover::before {
            transform: scaleX(1);
        }
    }

   
}

/***********

HEADER

***********/

header {
    background-image: url(../img/halo-infinite-cover-darkmode.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/*************
    BANNER
*************/

#banner {
    font-size: 1.8em;
    text-align: center;
    padding: 40px;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 200px;
    right: 100px;
    color: white;
    background-color: rgba($color: black, $alpha: 0.5);

}

h2 {
    font-size: 3.3rem;
    position: relative;
    display: inline-block;
    @include rm-padding-margin();
    margin-bottom: 40px;

    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: -40px;
        left: 0;

        transform: scale(0.4) skewY(-20deg) rotate(20deg);
        background-color: greenyellow;
    }
}

.green-button {
    border: 0;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    background-color: greenyellow;
    color: black;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
        background-color: rgb(92, 136, 26);
    }

}

.green-link {
    border: 0;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    padding: 10px 40px;
    color: greenyellow;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
        color: white;
    }

    &::before {
        content: ' ';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: greenyellow;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    &:hover::before {
        transform: scaleX(0.8);
    }
}

/*********************
    VIDEOS
*********************/

h3 {
    font-size: 1.6em;
    padding-top: 50px;
    color: white;
}


#videos {
    text-align: center;
    padding: 50px 0;
    background-image: url(../img/bg-videos.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    & #slider {

        & #current {
            max-width: 1280px;
            width: 100%;
            margin: 50px auto;
            border: solid 1px #00c3ff;
        }

        & #videos-container {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: center;
            overflow: auto;
          

            & .item {
                border: solid 1px #00c3ff;
                cursor: pointer;
                overflow: hidden;
                min-width: 320px;
                transition: all ease 0.3s;

                a::before {
                    font-family: "Material Icons";
                    font-size: 24px;
                    content: "play_arrow";
                    color: white;
                    position: absolute;
                    display: block;
                    top: 75px;
                    left: 125px;
                    width: 50px;
                    height: 50px;
                    background-color: black;
                    border-radius: 50%;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                }

                & img {
                    object-fit: contain;
                    transition: opacity 0.3s ease;

                }


                &:hover {
                    transform: scale(0.9);

                    & img {
                        opacity: 0.6;
                    }
                }
            }

           
        }

        & #controls{

            display: flex;
            justify-content: center;
    
            & .next , .prev{
                border: none;
                height: 50px;
                width: 80px;
                background-color: rgb(58, 58, 58);
                color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
            }
    
            & .next:hover , .prev:hover{
               background-color: rgb(37,37,37);
            }
            
        }
    } 
}


/*********************
    MULTIPLAYER
*********************/

#multi-player {
    height: 100vh;
    background-image: url(../img/bg-multiplayer.jpeg);
    display: flex;
    align-items: center;
    justify-content: end;
}

.info {
    line-height: 1.2;
    padding: 40px;
    width: 600px;
    margin-right: 50px;
    //background-color: rgba($color: #000000, $alpha: 0.5);
}

.info p {
    font-size: 20px;
}

/*********************
    GET THE GAME - STORE
*********************/

#get-the-game {
    text-align: center;
    padding: 50px 0;
    color: white;


    & .left, .right {
        padding: 0 20px;
    }

    & .left {
        padding: 0 20px;
        width: 100%;

        & img {
            width: 500px;
        }
    }

    & .right {
        text-align: left;
        width: 80%;
    }

    & .item-store {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: flex-start;
        
    }

    & h2 {
        color: white;
    }

    & h3 {
        @include rm-padding-margin();
        font-size: 1.8rem;
    }
}

//FOOTER

footer {
    height: 800px;
    background-image: url(../img/master-chief-darkmode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: 1519px) {
    .info {
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: white;
    }
}

@media screen and (max-width: 1192px) {
    nav  {
        
        & .more {
            display: block;
        }

        & .link-hide {
            display: none;
        }
    }

    header {
        height: 70vh;
    }

    #banner {
        position: initial !important;
        z-index: 100;
        width: 100%;
    }

    #slider {

        & #videos-container {
            display: none !important;
        }

        & #current {
            width: 80% !important;
    
            & iframe {
                height: 500px;
            }
    
        }
    }



    .info {
        width: 600px;
        margin: 0 auto;
    }

    #get-the-game .item-store {
        width: 100%;
        padding: 20px;

        & .left img{
            width: 300px;
        }

        & .right {
            width: 100%;

        }
    }

    
    footer {
        height: 400px;
        background-position: center top;
    }
}

@media screen and (max-width: 701px) {
    nav  {
        
        width: 100%;
        padding: 0px;

        & ul {
            display: none;
        }

        & .mobile {
            display: block;
        }
    }

    header {
        height: 30vh;
        background-position: center 40px;
    }

    #slider {

        & #videos-container {
            display: none !important;
        }

        & #current {
            width: 90%;
    
            & iframe {
                height: 300px;
            }
    
        }
    }

    #multi-player {
        background-position: -350px 0px;
    }

    .info {
        width: 90%;
        margin: 0 auto;
    }

    #get-the-game .item-store {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;

        & .left img{
            width: 300px;
        }

        & .right {
            text-align: center;
            width: 100%;

        }
    }

    footer {
        height: 400px;
        background-position: center center;
    }
   
}

@for $i from 0 through 4 {

    w-#{$i*25} {
        width: #{$i*25 + "%"};
        margin: 0 auto;
    }

}