@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  header {
    background-image: url(../img/halo-infinite-cover.jpeg);
  }
  nav {
    background-color: rgba(255, 255, 255, 0.5);
  }
  nav .mobile .header {
    background-color: rgba(255, 255, 255, 0.4);
  }
  nav .mobile .header a {
    color: black;
  }
  nav .mobile .header #bmenu {
    color: black;
  }
  nav .mobile .links {
    background-color: white;
  }
  nav .mobile .links a {
    color: black;
  }
  nav .mobile .links a:hover {
    color: white;
    background-color: black;
  }
  nav ul li a {
    color: black;
  }
  nav ul li::before {
    background-color: black;
  }
  #banner {
    color: black;
    background-color: white;
  }
  .green-link {
    color: #8cd320;
  }
  .green-link::before {
    background-color: #8cd320;
  }
  #videos *, #get-the-game * {
    color: black;
  }
  h3 {
    color: black;
  }
  footer {
    background-image: url(../img/master-chief.jpg);
  }
}
@media screen and (prefers-color-scheme: light) and (max-width: 1519px) {
  .info {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }
}